/*BARRA DE NAVEGACION*/

.navColor {
	background-color: $principal;
}

.botonNavColor {
	background-color: $blanco;
}

.tituloNav {
	color: $blanco;
	font-size: 2.3rem;
}

nav {
	li {
		a {
			@include anclas;
		}
	}
}