/*NOSOTROS.HTML*/

.form {
	display: inline-block;
	border: #000000 0.1rem solid;
	padding: 1rem;
	font-size: 1.1rem;
}

.margenes {
	border: #000000 0.1rem solid;
	background-color: $blanco
}

.margenesIframe {
	padding: 1rem;
}