// VARIABLES //

$fuentePrincipal: 'Bubblegum Sans', cursive;
$fuenteAlternativa: 'Catamaran', sans-serif;

$body: #e8e9e8;

$principal: #187053;
$secundario: #e6b350;

$blanco: #ffffff;
$negro: #000000;

$whatsapp: #25d366;
$hover: #1a8863;