/*WHATSAPP*/

.headerWhatsapp {
	background-color: $whatsapp;

	i {
		color: $blanco;
		font-size: 1.2rem;
		text-decoration: none;
	}
}

a {
	color: $blanco;
	font-size: 1.2rem;
	text-decoration: none;
}

p {
	color: $blanco;
	font-size: 1.2rem;
	text-decoration: none;
}